body {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  position; relative;

}
.intentions {
  border-bottom: solid grey 3px;
}

h1, .intentions {
  text-transform: uppercase;
  text-align: right;
  padding: 0px;
}

h1 {
  font-size: 3em;
}
span {
  display: block;
}

/* img { */
/*   position: absolute;
  height: auto;
  width: auto;
  max-width: 100px;
  max-height: 102px; */
/*   padding: */
}

.featuredPic {
  width: 100;
}

p {
  font-size: 3em;
  color: grey;
}
